/*
 * color-rofi theme,
 *  by sundoa.
 *
 */

configuration {
        show-icons:   true;
        sidebar-mode: false;
}



* {
        background-color: rgba(0, 0, 0,0.75);
        text-color: {{color9}};

    	accent-color: {{color13}};
    	accent2-color: {{color14}};
    	hover-color: {{color5}};
    	urgent-color: {{color9}};
    	window-color: {{color3}};

        selected-normal-foreground: @window-color;
        normal-foreground:          @text-color;
        selected-normal-background: @hover-color;
        normal-background:          @background-color;

        selected-urgent-foreground: @background-color;
        urgent-foreground:          @text-color;
        selected-urgent-background: @urgent-color;
        urgent-background:          @background-color;

        selected-active-foreground: @window-color;
        active-foreground:          @text-color;
        selected-active-background: @hover-color;
        active-background:          @accent-color;

        alpha: 200;
}

#window {
        anchor:   center;
        location: center;
        width:    384px; 
        height:   50%;
        border-radius: 16px;
}

#mainbox {
        children: [ entry, listview];
        border-radius: 16px;
        border: 0;
}

entry {
        expand: false;
        margin: 10px;
        border-radius: 9px;
        padding: 8px 12px;
        separator-color: @background-color;
}

element {
        padding: 10px;
}

element normal.normal {
        background-color: @normal-background;
        text-color:       @normal-foreground;
        border-radius: 12px;
}

element normal.urgent {
        background-color: @urgent-background;
        text-color:       @urgent-foreground;
        border-radius: 12px;
}

element normal.active {
        background-color: @active-background;
        text-color:       @active-foreground;
        border-radius: 12px;
}

element selected.normal {
        background-color: @selected-normal-background;
        text-color:       @selected-normal-foreground;
        border:           0 4px solid 0 0;
        border-color:     @accent2-color;
        border-radius: 12px;
}

element selected.urgent {
        background-color: @selected-urgent-background;
        text-color:       @selected-urgent-foreground;
        border-radius: 12px;
}

element selected.active {
        background-color: @selected-active-background;
        text-color:       @selected-active-foreground;
        border-radius: 12px;
}

element alternate.normal {
        background-color: @normal-background;
        text-color:       @normal-foreground;
        border-radius: 12px;
}

element alternate.urgent {
        background-color: @urgent-background;
        text-color:       @urgent-foreground;
        border-radius: 12px;
}

element alternate.active {
        background-color: @active-background;
        text-color:       @active-foreground;
        border-radius: 12px;
}

button {
        padding: 8px;
}

button selected {
        background-color: @active-background;
        text-color:       @background-color;
}

/* vim: ft=css
